# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/ajfamwebsite.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
img/Chicago_sunrise_1.jpg
img/chicago_skyline_2.jpg
img/chicago_skyline_4.jpg
